<div class="page-content-inner">
    <!-- Form Validation -->
    <section class="panel">
        <div class="panel-heading">
            <h3>
                Edit Operator

            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-bottom-50">

                        <!-- Popup Form Validation -->
                        <form id="operatorEditForm" name="operatorEditForm" ng-submit="UpdateOperator()" novalidate>
                            <div class="row">

                                <div class="form-group">
                                    <div class="col-md-6" ng-class="{ 'has-error' : operatorEditForm.Name.$invalid && !operatorEditForm.Name.$pristine }">
                                        <label>Name</label>
                                        <input type="text" name="Name" class="form-control" ng-model="editedOperator.Name" required>
                                        <p ng-show="operatorEditForm.Name.$invalid && !operatorEditForm.Name.$pristine" class="help-block">Name is required.</p>
                                    </div>



                                    <div class="col-md-6" ng-class="{ 'has-error' : operatorEditForm.Email.$invalid && !operatorEditForm.Email.$pristine }">
                                        <label>Email</label>
                                        <input type="email" name="Email" class="form-control" ng-model="editedOperator.Email" required>
                                        <p ng-show="operatorEditForm.Email.$invalid && !operatorEditForm.Email.$pristine" class="help-block">Valid Email ID is required.</p>
                                    </div>
                                </div>

                            </div> <br/>
                            <div class="row">
                                <div class="form-group" >
                                    <div class="col-md-6" ng-class="{ 'has-error' : operatorEditForm.Mobile.$invalid && !operatorEditForm.Mobile.$pristine }">
                                        <label>Mobile</label>
                                        <input type="text" name="Mobile" class="form-control" ng-model="editedOperator.Mobile" required>
                                        <p ng-show="operatorEditForm.Mobile.$invalid && !operatorEditForm.Mobile.$pristine" class="help-block">Mobile is required.</p>
                                    </div>
                                                             
                                    <div class=" col-md-6">
                                        <label>Hiring Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" ng-model="editedOperator.RegDate" data-date-time-picker/>
                                            <span class="input-group-addon">
                                                <i class="icmn-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> <br/>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error' : operatorEditForm.Status.$invalid && !operatorEditForm.Status.$pristine }">
                                    <div class="col-md-6">
                                        <label>Status</label>

                                        <!--<select ng-class="{selectpicker}" ng-model="editedOperator.Status" ng-options="x for x in status"></select>-->
                                       
                                        <ui-select ng-model="editedOperator.Status" on-select="onSelectCallback($item, $model)" style="width: 100%;">
                                            <ui-select-match placeholder="Change Status..">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="item in status | filter: $select.search">
                                                <div ng-bind-html="item | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                       
                                    </div>
                                </div>
                            </div> <br/>
   
                            <div class="row">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" ng-disabled="operatorEditForm.$invalid">Update</button>
                                </div>
                            </div>

                        </form>
                        <!-- End Popup Form Validation -->
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!-- End Form Validation -->
</div>
<!-- Page Scripts -->
<script>
    $(function () {

        $('#form-validation').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error',
                    errorClass: 'has-danger'
                }
            }
        });

        $('#form-validation-simple').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error-list',
                    errorClass: 'has-danger'
                }
            }
        });

        $('.select2').select2();
        $('.select2-tags').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });

        $('.datepicker-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('.datepicker-only-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LL'
        });

        $('.datepicker-inline-init').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            inline: true,
            sideBySide: false
        });

    });
</script>
<!-- End Page Scripts-->