<div class="page-content-inner">
    <!-- Form Validation -->
    <section class="panel">
        <div class="panel-heading">
            <h4>Add New Enquiry</h4>          
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-bottom-50">

                        <!-- Popup Form Validation -->
                        <form id="enquiryForm" name="enquiryForm" ng-submit="Addenquiry()" novalidate>
                            <div class="row">
                                <div class="form-group">

                                    <div ng-class="{ 'has-error' : enquiryForm.Name.$invalid && !enquiryForm.Name.$pristine }">
                                        <div class="col-md-6">
                                            <label>Name <b style="color: red">*</b></label>
                                            <input type="text" name="Name" class="form-control" ng-model="enquiry.Name" required>
                                            <p ng-show="enquiryForm.Name.$invalid && !enquiryForm.Name.$pristine" class="help-block">Name is required.</p>
                                        </div>
                                    </div>
                                    <div ng-class="{ 'has-error' : enquiryForm.Mobile.$invalid && !enquiryForm.Mobile.$pristine }">
                                        <div class="col-md-6">
                                            <label>Mobile <b style="color: red">*</b></label>
                                            <input type="text" name="Mobile" class="form-control" ng-model="enquiry.Mobile" maxlength="10" pattern="[0-9]{10}" required>
                                            <p ng-show="enquiryForm.Mobile.$invalid && !enquiryForm.Mobile.$pristine" class="help-block">Mobile number is not valid.</p>
                                        </div>
                                    </div> 
                                </div>
                            </div><br />

                            <div class="row">
                                <div class="form-group">
                                    
                                    <div class="col-md-1">
                                        <label>Reminder </label> <br />
                                        <switch name="isRemind" ng-model="enquiry.isRemind" ng-change="changeCallback"></switch>

                                    </div>
                                    <div class=" col-md-5">
                                        <label>Remminder Date</label>
                                        <div class='input-group date' id='datetimepickerenquiryRegDate' >
                                            <input type='text' class="form-control" ng-disabled="!enquiry.isRemind" ng-model="enquiry.ReminderDate" data-date-time-picker />
                                            <span class="input-group-addon">
                                                <i class="icmn-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <label>Assigned To <b style="color: red">*</b></label>
                                        <ui-select ng-model="Operator" on-select="onSelectCallback($item, $model)" ng-required="true" theme="bootstrap" style="width: 100%;">
                                            <ui-select-match placeholder="Select...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="item in operatorList | filter: $select.search">
                                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                                <!--<small ng-bind-html="item.Email | highlight: $select.search"></small>-->
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="form-group">
                                    <div ng-class="{ 'has-error' : enquiryForm.comments.$invalid && !enquiryForm.comments.$pristine }">
                                        <div class="col-md-12">
                                            <label>Enquiry <b style="color: red">*</b></label>
                                            <textarea name="comments" class="form-control" rows="3" id="l15" ng-model="enquiry.CommentsList[0].Comment" required></textarea>
                                        </div>
                                    </div>
                                    </div>
                            </div><br/>
  
                            <div class="row">
                                <div class="form-group">
                                    <button ng-class="enquiryForm.$invalid ? 'btn btn-default width-full margin-top-10' : 'btn btn-primary width-full margin-top-10'" type="submit" ng-disabled="enquiryForm.$invalid">Add</button>
                                </div>
                            </div>

                        </form>
                        <!-- End Popup Form Validation -->
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!-- End Form Validation -->
</div>
<!-- Page Scripts -->
<script>
    $(function () {

        $('#form-validation').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error',
                    errorClass: 'has-danger'
                }
            }
        });

        $('#form-validation-simple').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error-list',
                    errorClass: 'has-danger'
                }
            }
        });

        $('.select2').select2();
        $('.select2-tags').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });

        $('.datepicker-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('.datepicker-only-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LL'
        });

        $('.datepicker-inline-init').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            inline: true,
            sideBySide: false
        });

    });
</script>
<!-- End Page Scripts-->